* {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  padding-bottom: 95px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
}

.logo-text {
  margin: 0;
  margin-left: 5px;
}
