:root {
    /* Primary Colors */
    --primary: #ff6f0f;
    --primary-background: #82a7ff;

    /* Secondary Colors */
    --secondary-dark: #323232;
    --secondary-light: #8c8c8c;
    --secondary-muted: #2a2a2a;
    --secondary-black-blue: #202531;

    /* Neutral Colors */
    --neutral-white: #ffffff;
    --neutral-light: #d9d9d9;
    --neutral-dark: #444444;
    --neutral-black: #000000;

    /* Background Hover Colors */
    --primary-background-dark: #5f8fff;
    --secondary-muted-dark: #3d3d3d;

    /* Backgrounds */
    --bg-gradient-light: linear-gradient(to bottom, #d9d9d9, #f7f7f7);
    --bg-gradient-grey: linear-gradient(to bottom, #b2b2b2, #d9d9d9);

    /* Gradients */
    --bg-gradient-dark: #323232;
    --bg-gradient-orange: #ff950f;
    --bg-primary-gradient: linear-gradient(
        to bottom,
        var(--primary),
        var(--bg-gradient-orange)
    );
    --bg-gradient-button-light: linear-gradient(
        to bottom,
        var(--bg-primary-gradient-light),
        var(--bg-secondary-gradient-light)
    );

    --bg-gradient-button-dark: linear-gradient(
        to bottom,
        var(--bg-primary-gradient-dark),
        var(--bg-secondary-gradient-dark)
    );

    /* Utilities */
    --bg-primary-shadow: rgb(255 111 15 / 100%) 0px 0px 2px 0px,
        rgb(255 111 15 / 20%) 0px 0px 0px 1px;

    --bg-primary-gradient-light: #f7d2c4;
    --bg-secondary-gradient-light: #f0e68c;

    --bg-primary-gradient-dark: #434a54;
    --bg-secondary-gradient-dark: #33336c;

    --text-input-icon: #8c8c8c83;
    --text-sidebar-info: #ffffff80;
    --text-sidebar-hover: #ffb786;
    --bg-sidebar-hover: #ff6f0f38;

    --bg-btn-primary-hover: #fdb98b;
    --color-btn-primary-hover: #fdb98b;

    --bg-btn-primary-active: #ff6f0f38;
    --color-btn-primary-active: #ff6f0f38;
}

/* Background Colors */
.bg-primary {
    background-color: var(--primary);
}

.bg-primary-background {
    background-color: var(--primary-background);
}

.bg-secondary-dark {
    background-color: var(--secondary-dark);
}

.bg-secondary-light {
    background-color: var(--secondary-light);
}

.bg-secondary-muted {
    background-color: var(--secondary-muted);
}

.bg-secondary-black-blue {
    background-color: var(--secondary-black-blue);
}

.bg-white {
    background-color: var(--neutral-white);
}

.bg-dark {
    background-color: var(--neutral-dark);
}

.bg-black {
    background-color: var(--neutral-black);
}

.bg-blue {
    background-color: var(--primary-background);
}

.bg-gradient-light {
    background: var(--bg-gradient-light);
}

.bg-gradient-dark {
    background: var(--bg-gradient-dark);
}

/* Text Colors */
.text-primary {
    color: var(--primary);
}

.text-secondary-light {
    color: var(--secondary-light);
}

.text-secondary-muted {
    color: var(--secondary-muted);
}

.text-secondary-black-blue {
    color: var(--secondary-black-blue);
}

.text-white {
    color: var(--neutral-white);
}

.text-dark {
    color: var(--neutral-dark);
}

.text-black {
    color: var(--neutral-black);
}

/* Border Colors */
.border-primary {
    border: 2px solid var(--primary);
}

.border-secondary-light {
    border: 2px solid var(--secondary-light);
}

.border-secondary-muted {
    border: 2px solid var(--secondary-muted);
}

.border-secondary-black-blue {
    border: 2px solid var(--secondary-black-blue);
}

.border-neutral-dark {
    border: 2px solid var(--neutral-dark);
}

/* Button Styles */
.btn-primary {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
    color: white !important;
}

/* Shadow Utility */
.bg-shadow {
    border: none;
    box-shadow: rgb(145 158 171 / 30%) 0px 0px 2px 0px,
        rgb(145 158 171 / 12%) 0px 0px 0px 1px;
}

.bg-primary-shadow {
    box-shadow: var(--bg-primary-shadow);
}

/* Table Utility */
th.bg-primary {
    background-color: var(--primary-background) !important;
    color: white !important;
}
